.posts-expand {
  .post-eof {
    display: block;
    margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    margin: 30px auto;
    width: 70%;
    height: 1px;
    border-bottom: 1px #ccc dashed;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
