.post-more-link {
  margin-top: 50px;

  .btn {
    color: $read-more-color;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
    border: 1px solid #fc6423;
    color: #fc6423;
    transition: none;
  }
  .btn:hover {
    border-color: #fc6423;
    color: $btn-default-hover-color;
    background: #fc6423;
  }
}
